extends layout

block content
  .login-box
    .login-logo
      b Login
    .login-body
      form(action='/login', method='post')
        .form-group.has-feedback
          input.form-control(type='text', placeholder='UserName',name='name')
          span.icon-envelope.form-control-feedback
        .form-group.has-feedback
          input.form-control(type='password', placeholder='Password',name='password')
          span.icon-lock.form-control-feedback
        .row
          .col-xs-8
            .checkbox.icheck
              label
                input(type='checkbox',name='remember')
                |  Remember Me
          // /.col
          .col-xs-4
            button.btn.btn-primary.btn-block.btn-flat(type='submit') Log In
          // /.col
      